<!doctype html>
<html lang="tr">

<head>
    <!-- Kaspersky Protection Script -->
    <script type="text/javascript" src="http://gc.kis.v2.scr.kaspersky-labs.com/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=FrkKBM4lNLP35FjyJR7VIWLJugBhELauZbdHISz1VSiNlIKTocgCCKAPNJGPbbxP" charset="UTF-8"></script>

    <style>
        div.gallery {
            border: 1px solid #ccc;
        }

            div.gallery:hover {
                border: 1px solid #777;
            }

            div.gallery img {
                width: 100%;
                height: auto;
            }

        div.desc {
            padding: 15px;
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }

        .responsive {
            padding: 0 6px;
            float: left;
            width: 24.99999%;
        }

        .clearfix:after {
            content: "";
            display: table;
            clear: both;
        }

    </style>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Ayla Kuaför Salonu</title>
    <meta name="description" content="Minimal Multipurpose Portfolio Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link id="logo" rel="icon" type="image/png" href="/Content/img/logo.png" />

    <!-- Google Web Fonts -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- Custom CSS -->
    <link href="/Content/css0f7c.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/css/bootstrap.min.css" />

    <!-- Font Awesome & Pe-icon CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="/Content/css/pe-icon-7-stroke.css" />

    <!-- Animated Headlines CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/css/headlines.css" />

    <!-- Plugins CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/css/plugins.css" />

    <!-- Stylesheet CSS -->
    <link rel="stylesheet" type="text/css" href="/Content/style.css" />

    <!-- Modernizr JS -->
    <script src="/Content/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- Datetimepicker -->
    <link href="/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/css/datepicker.min.css" />
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- Header -->
    <div class="header-area dark animated">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <!-- Header Logo -->
                    <div class="header-logo float-left">
                        <a class="logo" href="/Home/Index/">
                            <img src="/Content/img/section-bg/logo.png" style="width: 150px; height: auto;">
                        </a>
                    </div>

                    <!-- Main Menu -->
                    <div class="main-menu float-right">
                        <nav>
                            <ul>
                                <li class="active"><a href="index.html#intro">Anasayfa</a></li>
                                <li><a href="index.html#galeri">Galeri</a></li>
                                <li><a href="index.html#hizmetlerimiz">Hizmetlerimiz</a></li>
                                <li><a href="index.html#kuaforsalonumuz">Kuaför Salonumuz</a></li>
                                <li><a href="index.html#iletisim">İletişim</a></li>
                                <li><a href="/Kullanıcı/Create/">Üye Ol</a></li>
                                <li><a href="/Login/Login/">Giriş</a></li>
                            </ul>
                        </nav>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- Intro Area -->
    <div id="intro" class="intro-area section overlay table">
        <div class="kenburne-slider">
            <img src="/Content/img/section-bg/1.png" alt="slideshow" />
            <img src="/Content/img/section-bg/2.png" alt="slideshow" />
            <img src="/Content/img/section-bg/8.png" alt="slideshow" />
        </div>
        <div class="table-cell">
            <div class="container">
                <div class="row">
                    <!-- Intro Content -->
                    <div class="intro-content text-center col-xs-12">
                        <h1><span>Her Detayda Güzellik</span>Ayla Kuaför</h1>
                        <h3 class="cd-headline clip">
                            <span>Harika </span>
                            <span class="cd-words-wrapper">
                                <b class="is-visible">Saçlar</b>
                                <b>Kadınlar</b>
                            </span>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <a class="scroll-down" data-scroll href="#galeri"><i></i></a>
    </div>

    <!-- Randevu Bölümü -->
    <div id="randevual" class="portfolio-area section bg-dark pt-100">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="section-title col-xs-12 text-center">
                    <a href="/Kullanıcı/Create/">
                        <h1><span>Randevu İçin Hemen Üye Olun</span></h1>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- JS Files -->
    <script src="/Content/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="/Content/js/bootstrap.min.js"></script>
    <script src="/Content/js/plugins.js"></script>
    <script src="/Content/js/main.js"></script>
</body>

<!-- Galeri Area
============================================ -->
<div id="galeri" class="portfolio-area section bg-dark pt-100">
    <div class="container">

        <!--Section Title-->
        <div class="row">
            <div class="section-title col-xs-12 text-center">
                <h1><span>Galeri</span></h1>
            </div>
        </div>
        <div class="row">

            <!--Portfolio Grid-->
            <div class="portfolio-grid">
                <!--Portfolio Item-->
                <div class="item web col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/1.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/1.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item uiux col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/2.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/2.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item branding col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/3.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/3.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item uiux col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/4.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/4.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item web col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/5.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/5.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item print col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/6.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/6.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item branding col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/7.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/7.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item web col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/8.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/8.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item print col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/9.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/9.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item uiux col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/10.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/10.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item branding col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/11.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/11.png" alt="">
                    </a>
                </div>
                <!--Portfolio Item-->
                <div class="item print col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-30">
                    <a href="/Content/img/12.png" data-image-popup class="single-portfolio">
                        <img src="/Content/img/12.png" alt="">
                    </a>
                </div>
            </div>
        </div>

    </div>

</div>

<!-- Service Area
============================================ -->
<div id="hizmetlerimiz" class="service-area section bg-dark pb-60 pt-70">
    <div class="container">

        <!--Section Title-->
        <div class="row">
            <div class="section-title col-xs-12 text-center">
                <h1><span>Hizmetlerimiz</span></h1>
            </div>
        </div>

        <div class="row">
            <!--Single Service-->
            <div class="single-service col-md-4 col-sm-6 col-xs-12 mb-40">
                <img src="https://i.hizliresim.com/WQOZVL.png">
                <br />
                <h4>Profesyonel Makyaj</h4>
                <p>Gerçek uzmanlık, güzelliğinizi yeniden tanımlar.</p>
            </div>

            <!--Single Service-->
            <div class="single-service col-md-4 col-sm-6 col-xs-12 mb-40">
                <img src="https://i.hizliresim.com/kWPgZv.png">
                <br />
                <h4>Saç Kesimi ve Şekillendirme</h4>
                <p>Tarzınız saçlarınızda başlar, biz mükemmeliyetle tamamlarız</p>
            </div>
            <!--Single Service-->
            <div class="single-service col-md-4 col-sm-6 col-xs-12 mb-40">
                <img src="https://i.hizliresim.com/mk9zq2.png">
                <br />
                <h4>Kirpik Eklentileri</h4>
                <p>Her bakışta büyüleyici bir dokunuş</p>
            </div>
            <!--Single Service-->
            <div class="single-service col-md-4 col-sm-6 col-xs-12 mb-40">
                <img src="https://i.hizliresim.com/VMJL2R.png">
                <br />
                <h4>Profesyonel Stiller</h4>
                <p>Her detayda mükemmeliyet, her stilde fark yaratırız</p>
            </div>
            <!--Single Service-->
            <div class="single-service col-md-4 col-sm-6 col-xs-12 mb-40">
                <img src="https://i.hizliresim.com/nWqgY1.png">
                <br />
                <h4>Manikür & Pedikür</h4>
                <p>Mükemmeliyet, manikür ve pedikürde gizlidir.</p>
            </div>
            <!--Single Service-->
            <div class="single-service col-md-4 col-sm-6 col-xs-12 mb-40">
                <img src="https://i.hizliresim.com/bGo24Y.png">
                <br />
                <h4>Yenileyici Tedaviler</h4>
                <p>Tarzınıza ve konforunuza özel ayrıcalıklı hizmet</p>
            </div>

        </div>

    </div>
</div>
<!-- Testimonial Area
============================================ -->
<div class="testimonial-area section overlay pb-100 pt-100" style="background-image: url('/Content/img/section-bg/4.png');">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <!-- Testimonial Slider -->
                <div class="testimonial-slider text-center">
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <i class="fa fa-quote-left"></i>
                        <p>Güzellik, tutku ile başlar, makyajla tamamlanır.</p>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <i class="fa fa-quote-left"></i>
                        <p>Güzel olduğuna inanın, biz dokunuşlarla tamamlayalım</p>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <i class="fa fa-quote-left"></i>
                        <p>Stil, sadelikteki mükemmeliyeti yakalamaktır</p>
                    </div>
                    <!-- Single Testimonial -->
                    <div class="single-testimonial">
                        <i class="fa fa-quote-left"></i>
                        <p>Saçlarınıza özel dokunuş, size özel stil</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Kuaför Salonumuz Section
============================================ -->
<div id="kuaforsalonumuz" class="service-area section bg-dark pb-60 pt-70">
    <div class="container">
        <!-- Section Title -->
        <div class="row">
            <div class="section-title col-xs-12 text-center">
                <h1><span>Kuaför Salonlarımız</span></h1>
            </div>
        </div>

        <!-- Gallery -->
        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/Content/img/section-bg/salon.png">
                    <img width="740" height="560" src="/Content/img/section-bg/salon.png" class="attachment-thumb-740x560" alt="Salon Equipment" />
                </a>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/Content/img/section-bg/salon2.png">
                    <img width="740" height="560" src="/Content/img/section-bg/salon2.png" class="attachment-thumb-740x560" alt="Salon Equipment" />
                </a>
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/Content/img/section-bg/salon3.png">
                    <img width="740" height="560" src="/Content/img/section-bg/salon3.png" class="attachment-thumb-740x560" alt="Salon Interiors" />
                </a>
  
            </div>
        </div>

        <div class="responsive">
            <div class="gallery">
                <a target="_blank" href="/Content/img/section-bg/salon4.png">
                    <img width="740" height="560" src="/Content/img/section-bg/salon4.png" class="attachment-thumb-740x560" alt="Salon Interiors" />
                </a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<!-- Footer Area
============================================ -->
<div id="footer" class="footer-area section overlay" style="background-image: url('/Content/img/arkaplan.jpg');">
    <!-- Contact Area -->
    <div id="iletisim" class="contact-area section pb-45 pt-100">
        <div class="container">
            <!-- Section Title -->
            <div class="row">
                <div class="section-title white col-xs-12 text-center">
                    <h1>Bizimle İletişime <span>Geçin</span></h1>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">
                    <!-- Contact Info -->
                    <div class="row">
                        <!-- Single Contact Info -->
                        <div class="single-contact-info text-center col-sm-4 col-xs-12 mb-40">
                            <i class="icon pe-7s-phone"></i>
                            <p>+90 544 528 75 35</p>
                        </div>
                        <!-- Single Contact Info -->
                        <div class="single-contact-info text-center col-sm-4 col-xs-12 mb-40">
                            <i class="icon pe-7s-mail-open"></i>
                            <p>kuaforayla@outlook.com</p>
                            <p>kuaforayla@outlook.com</p>
                        </div>
                        <!-- Single Contact Info -->
                        <div class="single-contact-info text-center col-sm-4 col-xs-12 mb-40">
                            <i class="icon pe-7s-map"></i>
                            <p>Serdivan, Sakarya</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom section pb-35 pt-35">
        <div class="container">
            <div class="row">
                <!-- Social -->
                <div class="social text-center col-xs-12 mb-15">
                    <a href="https://www.facebook.com/"><i class="fa fa-facebook"></i></a>
                    <a href="https://www.twitter.com/"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/"><i class="fa fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- jQuery 1.12.0 -->
<script src="/Content/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap JS -->
<script type="text/javascript" src="/Content/js/bootstrap.min.js"></script>
<!-- Animated Headlines JS -->
<script type="text/javascript" src="/Content/js/headlines.js"></script>
<!-- Plugins JS -->
<script type="text/javascript" src="/Content/js/plugins.js"></script>
<!-- Main JS -->
<script type="text/javascript" src="/Content/js/main.js"></script>

<!-- Datetimepicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
<script type="text/javascript" src="/Scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
</html>
