@using kuaforsalonu.Models
@model List<Islem>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<br />

<table class="table table-bordered">
    <tr>
        <th> ID </th>
        <th> Ad</th>
        <th> Süre </th>
        <th> Ucret</th>
        <th> Güncelle</th>
        <th> Sil</th>
        <th> Detaylar</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.IslemId</td>
            <td>@item.Ad</td>
            <td>@item.SureDakika</td>
            <td>@item.Ucret</td>
            <td><a href="/Islem/Edit/@item.IslemId" class="btn btn-success">Güncelle</a></td>
            <td><a href="/Islem/Delete/@item.IslemId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Islem/Details/@item.IslemId" class="btn btn-default" style="background-color:yellow">Detaylar</a></td>
        </tr>
    }
</table>
<a href="/Salon/Details/" class="btn btn-primary">Yeni İşlem Ekle</a>