@model kuaforsalonu.Models.Salon
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<form class=" "form-group" method="post">
    <b >Salon Adı</b>
    @Html.TextBoxFor(x=>x.Ad,new{@class="form-control"})
    <br />
    <b>Adres</b>
    @Html.TextBoxFor(x => x.Adres, new { @class = "form-control" })
    <br />
    <b>Telefon Numarası</b>
    @Html.TextBoxFor(x => x.Telefon, new { @class = "form-control" })
    <br />
    <b>Çalışma Saatleri</b>
    @Html.TextBoxFor(x => x.CalismaSaatleri, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Salon Ekle</button>
</form>
