@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kuaför</title>
    <meta name="description" content="Minimal Multipurpose Portfolio Template">

    <!-- Favicon -->
    <link id="favicon" rel="icon" type="image/png" href="~/Content/img/favicon.png" />

    <!-- Google web fonts -->
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <!-- CSS Files -->
    <link href="~/Content/css0f7c.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/pe-icon-7-stroke.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/headlines.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/css/plugins.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/style.css" />
    <link href="~/Content/css/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/css/datepicker.min.css" />

    <!-- Modernizr JS -->
    <script src="~/Content/js/vendor/modernizr-2.8.3.min.js"></script>
</head>
<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner">
            <div class="double-bounce1"></div>
            <div class="double-bounce2"></div>
        </div>
    </div>

    <!-- Body Content -->
    @RenderBody()

    <!-- JS Files -->
    <script src="~/Content/js/vendor/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Content/js/headlines.js"></script>
    <script type="text/javascript" src="~/Content/js/plugins.js"></script>
    <script type="text/javascript" src="~/Content/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap-datetimepicker.js"></script>
</body>
</html>
