@model kuaforsalonu.Models.Musteri

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Header
============================================ -->
<div class="header-area dark animated">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!--Header Logo-->
                <div class="header-logo float-left">
                    <a class="logo" href="#"><img src="~/Content/img/section-bg/logo6.png" alt="Logo"></a>
                </div>
                <!--Main Menu-->
                <div class="main-menu float-right">
                    <nav>
                        <ul>
                            <li><a asp-controller="Home" asp-action="Index">Anasayfa</a></li>
                        </ul>
                    </nav>
                </div>
                <!--Mobile Menu-->
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</div>

<!-- Form Section -->
<div class="portfolio-area section bg-dark pt-120 col-md-8" style="height: 670px;">
    <h2>Profil Güncelleme</h2>
    <form asp-action="Edit" method="post">
        <div class="form-horizontal">
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MusteriNo" />

            <div class="form-group">
                <label asp-for="Adi" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Adi" class="form-control" />
                    <span asp-validation-for="Adi" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Soyadi" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Soyadi" class="form-control" />
                    <span asp-validation-for="Soyadi" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="KullaniciAdi" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="KullaniciAdi" class="form-control" />
                    <span asp-validation-for="KullaniciAdi" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Email" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Sifre" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Sifre" class="form-control" type="password" />
                    <span asp-validation-for="Sifre" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Adres" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Adres" class="form-control" />
                    <span asp-validation-for="Adres" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="Telefon" class="control-label col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Telefon" class="form-control" />
                    <span asp-validation-for="Telefon" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-primary">Güncelle</button>
                </div>
            </div>
        </div>
    </form>
</div>
